[paths]
common: Common
dict: Common/cmu6
tree_questions: Common/tree_ques.hed
mfc_config: Common/default.htk_config
setup: Setups/si84.setup.gz
exp: Exp/si84/0
data: Exp/mfc/si84

[settings]
local: 0
jobs: 50
verbose: 1

[hmm_params]
states: 5
triphone_states: 2500
dt_ro: 200.0
dt_tb: 750.0

[train_params]
split_path_letters: 3
var_floor_fraction: 0.1
initial_mono_iters: 6
mono_iters: 6
initial_tri_iters: 1
tri_iters: 6
tri_mixup_schedule: 2_4_8
tri_iters_per_split: 6

[train_pipeline]
clean: 0
coding: 1
lm: 1
flat_start: 1
mono_to_tri: 1
mixup_tri: 1
mmi: 0
