[paths]
common: Common
dict: Common/cmu6
tree_questions: Common/tree_ques.hed
setup: Setups/si84.setup.gz
exp: Exp/si84/0
data: Exp/mfc/si84

[settings]
local: 0
jobs: 50
verbose: 1

[front_end]
use_c0: 1
use_deltas: 1
use_ddeltas: 1
mean_norm: 1
frame_length: 10
delta_window: 25
num_cepstra: 12

[hmm_params]
states: 5
triphone_states: 2500
dt_ro: 200.0
dt_tb: 750.0

[train_params]
split_path_letters: 3
var_floor_fraction: 0.05
lm_order: 3
initial_mono_iters: 6
mono_iters: 6
initial_tri_iters: 1
tri_iters: 6
tri_mixup_schedule: 2_4_8
tri_iters_per_split: 6

[train_pipeline]
clean: 0
coding: 0
lm: 0
flat_start: 0
mono_to_tri: 0
mixup_tri: 0
diag: 1
mmi: 0
